RAG.json
{
  "name": "RAG",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1xEo6udlQjUf8t4IYM2ZUthop7cUYaces",
          "mode": "list",
          "cachedResultName": "N8N RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1xEo6udlQjUf8t4IYM2ZUthop7cUYaces"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -608,
        16
      ],
      "id": "20ec176e-7261-42df-9322-c261b62a4c6c",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "O3O6qftOETfYNdIB",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -400,
        16
      ],
      "id": "03006c5a-39f8-4764-9a67-5fe1d8ac2a7f",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "O3O6qftOETfYNdIB",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -192,
        16
      ],
      "id": "f7a857cc-729c-454b-92a9-7d6a3a6d6efe",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "s40XjiJotLZsUDpI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -96,
        176
      ],
      "id": "d188609a-a303-4ba3-b391-9a25b75f5647",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-2-preview"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -160,
        368
      ],
      "id": "436ffa40-79ec-47ec-a525-5a99db6a013a",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "zjPtOkIzalO3etQ7",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        224,
        16
      ],
      "id": "e48bff4e-808c-49f7-997d-f4d5e298b03d",
      "name": "When chat message received",
      "webhookId": "a8d6052a-a2dd-4f33-ae59-5e10e8e9e4d0"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        432,
        16
      ],
      "id": "d945b50b-4d3d-40ad-8344-091b69494cc4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        784,
        16
      ],
      "id": "63fae971-6152-40f1-831d-60fabbb384b1",
      "name": "Chat",
      "webhookId": "e3bff124-6587-4d43-a084-fcf09ce5ce3b"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        352,
        176
      ],
      "id": "f4e92af9-ef05-4722-b368-da7cb850bcda",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "zjPtOkIzalO3etQ7",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Gunakan data dari database untuk menjawab pertanyaan",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        560,
        336
      ],
      "id": "6b726dc0-6caa-4433-a5f3-94c61ea32e02",
      "name": "Supabase Vector DB",
      "credentials": {
        "supabaseApi": {
          "id": "s40XjiJotLZsUDpI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        448,
        224
      ],
      "id": "e61074ba-be40-4d17-a5c8-9ffe7c96c34c",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "8pKPqwQy4vB9BkEG",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector DB",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector DB": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b7faf15f-3437-4cc9-a41d-5737db255a89",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "935cad72e8cbb422a730c57b9be9cfce39f4b47c24e21ff9147aaeb3af746fed"
  },
  "id": "5dFotuxjoJj1kYVK",
  "tags": []
}